body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    background: url('bg.jpeg');
}
audio {
    display: none;
}
p {
    margin: 0;
}
#cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
#container {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    overflow: hidden;
}
#look {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
#stage {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
}
#aroundBox {
    width: 240px;
    height: 240px;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}
#cakeBox {
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
}
#cakeBless {
    width: 800px;
    height: 800px;
    transform-style: preserve-3d;
    position: absolute;
    left: 50%;
    top: -100px;
    margin: -440px -440px;
    z-index: 2;
    background: #febbaf;
    border-radius: 100%;
    transform: rotateX(90deg);
    text-align: center;
    border: 40px solid #8A6961;
}
#blsssCenter {
    width: 720px;
    height: 720px;
    transform-style: preserve-3d;
    background: #FEFAE9;
    margin: 40px auto;
    border-radius: 100%;
}
.pic-bg {
    width: 210px;
    height: 210px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.pic-text {
    margin: 0;
    padding: 0;
    color: #FEFAE9;
    line-height: 210px;
    text-align: center;
    position: relative;
    z-index: 1;
    opacity: 0;
    font-size: 18px;
}